<!DOCTYPE html>
<html>
{include file='/common/_meta'}
<body>
	<!-- 头部 -->
{include file='/common/top'}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
                {include file='/common/left'}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:url('Index/index')}">系统</a>
                        </li>
                        <li class="active">商品分类管理</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">

<form action="" method="post">                    
<button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('cates/add')}'"> <i class="fa fa-plus"></i> 添加商品分类
</button>
<button type="submit" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon"> <i class="fa fa-plus"></i> 商品分类排序
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr styl>
                                <th class="text-center">商品分类ID</th>
                                <th class="text-center">商品分类名称</th>
                                <th class="text-center">商品分类关键词</th>
                                <th class="text-center">商品分类描述</th>
                                <th class="text-center">商品分类图片</th>
                                <th class="text-center">显示导航</th>
                                <th class="text-center">排序</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                        {volist name="cateslist" id="cates"}
                                <tr>
                                <td align="center" width="5%" data-type="{$cates.cates_pid}" class="datalist">{$cates.cates_id}</td>
                                <td align="+center" width="12%">
                                    {if condition="$cates['cates_pid'] neq 0"}
                                     |
                                    {/if}
                                    <?php echo str_repeat('◆',$cates['lever']*4).'&nbsp;' ?>
                                    {$cates.cates_name}
                                    
                                </td>
                                <td align="center" width="10%" height="30">{$cates.cates_keywords}</td>
                                <td align="center" width="10%" height="30">{$cates.cates_description}</td>
                                <td align="center" width="10%" height="30">
                                {if condition="$cates['cates_img'] neq ''"}
                                    <img style="height: 30px" src="__upload__/{$cates.cates_img}" />
                                {else /}
                                    暂无图片
                                {/if}
</td>
                               <td align="center" width="10%">
                                
                                {if condition="$cates['cates_shownav'] neq 0"}
                                    显示
                                {else /}
                                    隐藏
                                {/if}

                                </td>
                                <td align="center" width="4%">
                                    <input type="text" name="cates_sort[{$cates.cates_id}]" value="{$cates.cates_sort}" style="width: 30px; text-align: center;" />
                                </td>
                                <td align="center" width="12%">
                                    <a href="{:url('edit',array('cates_id'=>$cates['cates_id']))}" class="btn btn-primary btn-sm shiny">
                                        <i class="fa fa-edit"></i> 编辑
                                    </a>
                                    <a href="#" onClick="warning('确实要删除吗', '{:url('del',array('cates_id'=>$cates['cates_id']))}')" class="btn btn-danger btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</form>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    {include file='/common/footer'}    


</body></html>