<!doctype html>
<html>

	{include file='/common/_meta'}

<body class="bg-ligtGary" data-type="login1">
    <div class="login">

		<div class="loginRegister-header">
		    <div class="w w1200">
		        <div class="logo">
		            <div class="logoImg"><a href="#" class="logo"><img src="__index__/img/user_login_logo.png"></a></div>
		            <div class="logoAdv"></div>

			        <!-- 登录 -->
				    <div class="logo-span">
						<b style="background:url(__index__/img/login_logo_pic.png) no-repeat;"></b>
					</div>
		        </div>

				<div class="header-href">
				    <span>还没有账号<a href="{:url('member/user/reg')}" class="jump">免费注册</a></span>
				</div>
		    </div>
		</div>

	    <div class="container">
	        <div class="login-wrap">
				<div class="w w1200">
				    <div class="login-form">
				        <div class="coagent">
						    <div class="tit"><h3>用第三方账号直接登录</h3><span></span></div>
				            <div class="coagent-warp">
						        <a href="#" class="weibo"><b class="third-party-icon weibo-icon"></b></a>
						        <a href="#" class="qq"><b class="third-party-icon qq-icon"></b></a>
					        </div>
						</div>
				        <div class="login-box">
				            <div class="tit"><h3>账号登录</h3><span></span></div>
				            <div class="msg-wrap">
								<div class="msg-error" style="display:none">账户名与密码不匹配，请重新输入</div>
				            </div>
				            <div class="form">
								<form name="formLogin" action="" method="post">
								    <div class="item">
								        <div class="item-info">
								            <i class="iconfont icon-name"></i>
								            <input type="text" id="username" name="us_name" class="text" value="" placeholder="用户名/邮箱/手机" autocomplete="off" />
								        </div>
								    </div>
								    <div class="item">
								        <div class="item-info">
								            <i class="iconfont icon-password"></i>
								            <input type="password" style="display:none"/>
								            <input type="password" id="nloginpwd" name="us_password" class="text" value="" placeholder="密码" autocomplete="off" />
								        </div>
								    </div>
								        <div class="item">
								        <input id="remember" name="" type="checkbox" class="ui-checkbox">
								        <label for="remember" class="ui-label">请保存我这次的登录信息。</label>
								    </div>
								    <div class="item item-button">
<!-- 										<input type="hidden" name="dsc_token" value="015596ebc0548cc4e216ba27981f5902" />
								        <input type="hidden" name="act" value="act_login" />
								        <input type="hidden" name="back_act" value="https%3A%2F%2Ftest.dscmall.cn%2Fgoods.php%3Fid%3D800" /> -->
								        <input type="submit" name="" id="loginSubmit" value="登&nbsp;&nbsp;录" class="btn sc-redBg-btn">
								    </div>
								    <a href="#" class="notpwd gary">忘记密码？</a>
								</form>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="login-banner" style="background:url(__index__/img/1488936109167439630.jpg) center center no-repeat;">
				    <div class="w w1200">
				        <div class="banner-bg"></div>
				    </div>
				</div>
	        </div>
	    </div>
	</div>


    {include file='/common/footer'}   



<script type="text/javascript" src="__index__/js/scroll_city.js"></script>
<script type="text/javascript" src="__index__/js/user.js"></script>
<!-- <script type="text/javascript" src="__index__/js/user_register.js"></script> -->
<script type="text/javascript" src="__index__/js/utils.js"></script>
<script type="text/javascript" src="__index__/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__index__/js/perfect-scrollbar.min.js"></script>
<!-- <script type="text/javascript" src="__index__/js/dsc-common.js"></script> -->
<script type="text/javascript">


$(function(){
	if(document.getElementById("seccode")){
		$("#seccode").val(0);
	}
	
	$("form[name='formUser'] :input[name='register_type']").val(1);
	
	//验证码切换
	$(".changeNextone").click(function(){
		$("#captcha_img").attr('src', 'captcha.php?'+Math.random());
	});
	$(".changeNexttwo").click(function(){
		$("#authcode_img").attr('src', 'captcha.php?'+Math.random());
	});
	
	var is_passwd_questions = $("form[name='getPassword'] :input[name='is_passwd_questions']").val();
	
	if(typeof(is_passwd_questions) == 'undefined'){
		$("#form_getPassword1").hide();
		$("#form_getPassword2").hide();
		$("#form_getPassword1").siblings().css({'width':'50%'});
	}
	
	$(".email_open").click(function(){
		$("#email_yz").show();
		$(this).parent().hide();
		$("#email_yz").find(".tx_rm").show();
	});
	
	$(".email_off").click(function(){
		$("#email_yz").hide();
		$(this).parent().hide();
		$("#phone_yz").find(".tx_rm").show();
	});
	
	$(".email_open").click(function(){
	
		var email = $("#regName").val();
		
		if(email){
			checkEmail(email);
		}else{
			$("#phone_notice").html('');
			$("#code_notice").html('');
			$("#phone_verification").val(0);
		}
		
		$("#mobile_phone").val("");
		$("#email_yz").show();
		$("#email_yz").find(".tx_rm").show();
		
		$("#phone_yz").hide();
		$("#code_mobile").hide();
		
		$("form[name='formUser'] :input[name='register_type']").val(0);
		$("#registsubmit").attr("disabled", false);
	});
	
	$(".email_off").click(function(){
		
		var mobile_phone = $("#mobile_phone").val();
		
		if(mobile_phone){
			checkPhone(mobile_phone);
		}else{
			$("#email_notice").html('');
			$("#email_verification").val(0);
		}
		
		$("#regName").val("");
		$("#email_yz").hide();
		$("#phone_yz").find(".tx_rm").show();
		
		$("#phone_yz").show();
		$("#code_mobile").show();
		
		$("form[name='formUser'] :input[name='register_type']").val(1);
		$("#registsubmit").attr("disabled", false);
	});
	
	
	// $.divselect("#divselect","#passwd_quesetion");
	// $.divselect("#divselect2","#passwd_quesetion2");

	$('#loginSubmit').click(function () {

		console.log(111111);
		$.ajax({
			url:'{:url("member/user/login")}',
			data:'',
			dataType:'json',
			type:'post',
			success: function (status) {
				console.log( status );
				if ( status == 1){
					alert('OK');
				} else {
					alert('用户名或密码有错误');
				}
			},
			error: function(){
				alert('网络出问题，请刷新');
			}
		});
	});

});
</script>
</body>
</html>

