<!doctype html>
<html>

{include file='/common/_meta'}

<body class="bg-ligtGary" data-type="reg1">

	<div class="register">

		<div class="loginRegister-header">
		    <div class="w w1200">
		        <div class="logo">
		            <div class="logoImg"><a href="#" class="logo"><img src="__index__/img/user_login_logo.png"></a></div>
		            <div class="logoAdv"></div>

			        <!-- 登录 -->
				    <div class="logo-span">
						<b style="background:url(__index__/img/login_logo_pic.png) no-repeat;"></b>
					</div>
		        </div>

				<div class="header-href">
				    <span>已注册可<a href="{:url('member/user/login')}" class="jump">在此登录</a></span>
				</div>
		    </div>
		</div>

        <div class="container">
            <div class="w w1200">
                <div class="register-wrap">
                	<div class="register-adv">
					<a href="#" target="_blank"><img width="400" height="324" src="__index__/img/1488939821671881226.jpg" /></a>
					</div>
                    <div class="register-form">
                    	<div class="form form-other">
                            <form action="" method="post" name="formUser" onsubmit="return mobileRegister();">
                            	<div class="item">
                                	<div class="item-label">用　户　名</div>
                                	<div class="item-info">
                                    	<input type="text" name="us_name" id="username" onblur="is_registered(this.value, 1);" class="text" value="" autocomplete="off" />
                                    </div>
                                    <div class="input-tip"><span id="username_notice_1"></span></div>
                                </div>
                                <div class="item">
                                	<div class="item-label">设 置 密 码</div>
                                	<div class="item-info">
                                        <input type="password" style="display:none"/>
                                    	<input type="password" name="us_password" id="pwd" class="text" value="" autocomplete="off" />
                                    </div>
                                    <div class="input-tip"><span id="phone_password"></span></div>
                                </div>
                                <div class="item">
                                	<div class="item-label">确 认 密 码</div>
                                	<div class="item-info">
                                        <input type="password" style="display:none"/>
                                    	<input type="password" name="" id="pwdRepeat" class="text" value="" autocomplete="off" />
                                    </div>
                                    <div class="input-tip"><span id="phone_confirm_password"></span></div>
                                </div>
                                <div class="item" id="phone_yz">
                                	<div class="item-label">手 机 号 码</div>
                                	<div class="item-info" style="position: relative;">
                                    	<!-- <input type="text" name="us_mobile_phone" id="mobile_phone" onblur="checkPhone(this.value);" class="text" value="" autocomplete="off" /> -->
                                    	<input type="text" name="us_mobile_phone" id="mobile_phone" class="text" value="" autocomplete="off" />
                                        <a href="javascript:void(0);" class="email_open ftx-05" ectype="meSwitch" data-type="phone" style="position: absolute; z-index: 1; right: 0; top: 35px;">或邮箱验证</a>
                                    </div>
                                    <div class="input-tip"><span id="phone_notice"></span></div>
                                </div>
                                <div class="item" id="email_yz" style="display:none;">
                                	<div class="item-label">电 子 邮 件</div>
                                	<div class="item-info" style="position: relative;">
                                    	<input type="text" name="us_email" id="regName" onblur="checkEmail(this.value);" class="text" value="" autocomplete="off" />
                                        <a href="javascript:void(0);" class="email_off ftx-05" ectype="meSwitch" data-type="email" style="position: absolute; z-index: 1; right: 0; top: 35px;">或手机验证</a>
                                    </div>
                                    <div class="input-tip"><span id="email_notice"></span></div>
                                </div>
                                
								<div class="item" id="code_mobile">
	                                <div class="item-label">短信验证码</div>
	                                <div class="item-info">
	                                    <input type="text" name="" id="send_code" class="text text-2" value="" autocomplete="off">
	                                    <!-- <a href="javascript:sendChangePhone(1);" id="zphone" class="sms-btn">获取验证码</a> -->
	                                    <div onclick="sendChangePhone(this)" id="zphone" class="sms-btn">获取验证码</div>
	                                    <!-- <input type="button" onclick="sendChangePhone(this);" id="zphone" class="sms-btn" value="获取验证码" style="border: 0;" /> -->
	                                </div>
	                                <div class="input-tip"></div>
	                            </div>

								<div class="item" id="code_email" style="display:none;">
	                                <div class="item-label">邮箱验证码</div>
	                                <div class="item-info">
	                                    <input type="text" name="" id="send_code" class="text text-2" value="" autocomplete="off">
	                                    <a href="javascript:sendChangeEmail(1);" id="zemail" class="sms-btn">获取验证码</a>
	                                </div>
	                                <div class="input-tip"></div>
	                            </div>




                                                                                                                                                                                                
																                                <div class="item item2">
                                	<div class="item-checkbox">
                                        <input type="checkbox" id="clause2" class="ui-solid-checkbox" checked="checked" value="1" name="">
                                        <label class="ui-solid-label" for="clause2">我已阅读并同意<a href="#" class="ftx-05" target="_blank">《用户注册协议》</a></label>
                                    </div>
                                	<div class="input-tip"><span id="mobileagreement"></span></div>
                                </div>
                                <div class="item item2 item-button">
<!-- 									<input type="hidden" name="flag" id="flag" value='register' />
									<input name="register_type" type="hidden" value="1" />
									<input type="hidden" name="seccode" id="seccode" value="" />
									<input name="act" type="hidden" value="act_register" >
									<input name="register_mode" type="hidden" value="1" >
									<input id="phone_code_callback" type="hidden" value="0" >
									<input id="phone_captcha_verification" type="hidden" value="" />
									<input id="phone_verification" type="hidden" value="0" />
									<input id="email_verification" type="hidden" value="0" />
									<input id="enabled_captcha" type="hidden" value="" />
 -->									<input type="submit" id="registsubmit" name="" maxlength="8" class="btn sc-redBg-btn" value="立即注册"/>
                                </div>
                            </form>
                    	</div>            
                    </div>
                </div>
            </div>
        </div>
	</div>
	<script type="text/javascript">
		// 异步url
	 	var Phone_url = "{:url('member/user/sendcode')}";
	 	var Email_url = "{:url('member/user/sendMail')}";
	 	// 清空内容
	    $("input[name='sel_question']").val('');
	    $("#seccode").val();
	    // 定义cookie
	    // var 

   </script>


    {include file='/common/footer'}   


<script type="text/javascript" src="__index__/js/scroll_city.js"></script>
<script type="text/javascript" src="__index__/js/user.js"></script>
<script type="text/javascript" src="__index__/js/user_register.js"></script>
<script type="text/javascript" src="__index__/js/sms.js"></script>
<script type="text/javascript" src="__index__/js/jquery.validation.min.js"></script>
<script type="text/javascript" src="__index__/js/utils.js"></script>
<script type="text/javascript" src="__index__/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__index__/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript">



$(function(){


	if(document.getElementById("seccode")){
		$("#seccode").val(0);
	}
	
		
	//邮箱验证和手机验证切换
	$("*[ectype='meSwitch']").on("click",function(){
		var type = $(this).data("type");
		if(type == "phone"){
			$("#email_yz,#code_email").show(); //邮箱验证 邮箱号和邮箱验证码显示
			$("#phone_yz,#code_mobile").hide(); //邮箱验证 手机号码和短信隐藏
			
			$("input[name='register_type']").val(0); //邮箱验证标识
			$("input[name='mobile_phone']").val(""); //手机号码清空
			$("input[name='mobile_phone'],input[name='mobile_code']").addClass("ignore"); //邮箱验证 邮箱和邮箱验证码添加验证标识
			$("input[name='email'],input[name='send_code']").removeClass("ignore"); //邮箱验证 手机号码和短信去除验证标识
		}else{
			$("#email_yz,#code_email").hide(); //手机验证 邮箱号和邮箱验证码隐藏
			$("#phone_yz,#code_mobile").show(); //手机验证 手机号码和短信显示
			
			$("input[name='register_type']").val(1); //手机注册标识
			$("input[name='mobile_phone'],input[name='mobile_code']").removeClass("ignore"); //手机验证 手机号码和短信验证标识
			$("input[name='email'],input[name='send_code']").addClass("ignore"); //手机验证 邮箱和邮箱验证码去除验证标识
		}
	});
		
	// $.divselect("#divselect","#passwd_quesetion");
	// $.divselect("#divselect2","#passwd_quesetion2");
	
	

});
</script>
</body>
</html>
