<!doctype html>
<html>

{include file='/common/_meta'}

<body data-type="mindex1">

	{include file='/common/heads_top'}

	{include file='/common/heads_logo'}

	{include file='/common/heads_navs'}





<div class="user-content clearfix">
    <div class="user-side" ectype="userSide">
<div class="user-mod user-perinfo">
    <div class="profile clearfix">
<div class="avatar">
    <a href="#" class="u-pic">
<img src="__index__/img/touxiang.jpg" alt="">
    </a>
</div>
<div class="name">
    <h2>70769833-218428</h2>
    <div class="user-rank user-rank-1">铜牌</div>
</div>
    </div>
    <div class="account">
<div class="item clearfix">
    <div class="item-name">账户资料：</div>
    <div class="item-main">
<b class="integrity"><em style="width: 45%;"></em></b><span>45%</span>
    </div>
</div>
<div class="item clearfix">
    <div class="item-name">账户安全：</div>
    <div class="item-main safe">
<a href="#" class="iconfont icon-email "><span class="tip">邮箱未验证</span></a>
<a href="#" class="iconfont icon-see "><span class="tip">实名认证未完成</span></a>
<a href="#" class="iconfont icon-password active"><span class="tip">密码已设置</span></a>
<a href="#" class="iconfont icon-mobile-phone active"><span class="tip">手机已验证</span></a>
    </div>
</div>
    </div>
</div>
<div class="user-mod">
    <div class="side-menu">
	<dl>
<dt><i class="square"></i><span>订单中心</span></dt>
<dd>
	<p><a href="#" target="_self">我的订单</a></p>
	<p><a href="#" target="_self">收货地址</a></p>
	<p><a href="#" target="_self">缺货登记</a></p>
	<p><a href="#" target="_self">退换货订单</a></p>
</dd>
    </dl>
    <dl>
<dt><i class="square"></i><span>会员中心</span></dt>
<dd>
	<p><a href="#" target="_self">用户信息</a></p>
	<p><a href="#" target="_self">账户安全</a></p>
	<p><a href="#" target="_self">账号绑定</a></p>
	<p><a href="#" target="_self">我的众筹</a></p>
	<p><a href="#" target="_self">收藏/关注</a></p>
<!--<p><a href="#" target="_self">关注品牌</a></p>-->
	<p><a href="#" target="_self">我的留言</a></p>
<p><a href="#" target="_self">我的推荐</a></p>
<p><a href="#" target="_self">评论/晒单</a></p>
	<p><a href="#"> 我的提货</a></p>
	<p><a href="#"> 交易纠纷</a></p>
	<p><a href="#"> 我的发票</a></p>
	</dd>
	</dl>
    <dl>
<dt><i class="square"></i><span>账户中心</span></dt>
<dd>
	<p><a href="#" target="_self">我的红包</a></p>
<p><a href="#" target="_self">我的优惠券</a></p>
	<p><a href="#" target="_self">跟踪包裹</a></p>
	<p><a href="#" target="_self">资金管理</a></p>
	<p><a href="#" target="_self">我的白条</a></p>
</dd>
    </dl>
	<dl>
<dt><i class="square"></i><span>活动中心</span></dt>
<dd>
	<p><a href="#" target="_self">拍卖活动</a></p>
	<p><a href="#" target="_self">夺宝奇兵</a></p>
</dd>
    </dl>
    </div></div>
    </div>
    <div class="user-main" ectype="userMain" data-action="default">


<ul class="user-index-order-statu clearfix">
    <li>
<a href="#">
<div class="circle"><i class="iconfont icon-columns"></i></div>
<div class="info">
    <p>待付款</p>
    <div class="num">0</div>
</div>
</a>
    </li>
    <li>
<a href="#">
<div class="circle"><i class="iconfont icon-truck-alt"></i></div>
<div class="info">
    <p>待收货</p>
    <div class="num">0</div>
</div>
</a>
    </li>
    <li>
<a href="#">
<div class="circle"><i class="iconfont icon-edit"></i></div>
<div class="info">
    <p>待评价</p>
    <div class="num">0</div>
</div>
</a>
    </li>
    <li>
<a href="#">
<div class="circle"><i class="iconfont icon-complete"></i></div>
<div class="info">
    <p>已完成</p>
    <div class="num">0</div>
</div>
</a>
    </li>
</ul>
<ul class="user-index-wallet clearfix">
    <li>
<div class="words"></div>
<div class="info info-line">
    <a href="#"><em>¥</em>0.00</a>
</div>
    </li>
    <li>
<div class="words"></div>
<div class="info info-line">
    <a href="#">红包（<span class="red">0</span>）</a>
    
</div>
    </li>
    <li>
<div class="words"></div>
<div class="info">
    <a href="#">优惠券（<span class="red">1</span>）</a><br>
    <div class="num"><a href="#" target="_blank" class="line">领券</a></div>
</div>
    </li>
    <li>
<div class="words"></div>
<div class="info info-line">
    <a href="#">储值卡（<span class="red">0</span>）</a>
</div>
    </li>
    <li>
<div class="words"></div>
<div class="info info-line"><a href="#">0</a></div>
    </li>
</ul>
<div class="user-mod">
    <div class="user-section">
<div class="user-title">
    <h2>我的订单</h2>
    <a href="#" class="more">查看所有订单</a>
</div>
<div class="user-index-order-list">
    <div class="no_records">
<i class="no_icon"></i>
<div class="no_info no_info_line">
<h3>主人，您近期还没有购买任何商品哟~</h3>
<div class="no_btn">
    <a href="#" class="sc-btn sc-red-btn">去逛商城</a>
</div>
</div>
    </div>
</div>
    </div>
    
    <div class="user-section">
<div class="user-title">
    <h2>近期收藏</h2>
    <a href="#" class="more">查看所有收藏</a>
</div>
<div class="user-index-collection-list">
    <div class="no_records">
<i class="no_icon"></i>
<div class="no_info">
<h3>主人，您近期还没有收藏商品呦~</h3>
</div>
    </div>
</div>
    </div>
    <div class="user-section">
<div class="user-title">
    <h2>帮助</h2>
</div>
<ul class="user-help-list clearfix">
    <li><a href="#" class="ftx-05" target="_blank">售后服务保证</a></li>
    <li><a href="#" class="ftx-05" target="_blank">退换货原则</a></li>
    <li><a href="#" class="ftx-05" target="_blank">支付方式说明</a></li>
    <li><a href="#" class="ftx-05" target="_blank">配送支付智能查询 </a></li>
    <li><a href="#" class="ftx-05" target="_blank">货到付款区域</a></li>
    <li><a href="#" class="ftx-05" target="_blank">订购方式</a></li>
</ul>
    </div>
    </div>




     </div>
</div>


    {include file='/common/footer'}   


<script type="text/javascript" src="__index__/js/suggest.js"></script>
<script type="text/javascript" src="__index__/js/scroll_city.js"></script>
<script type="text/javascript" src="__index__/js/utils.js"></script>
<script type="text/javascript" src="__index__/js/warehouse.js"></script>
<script type="text/javascript" src="__index__/js/warehouse_area.js"></script>

<script type="text/javascript" src="__index__/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__index__/js/jquery.yomi.js"></script>
<script type="text/javascript" src="__index__/js/common.js"></script>
<script type="text/javascript" src="__index__/js/jquery.validation.min.js"></script>
<script type="text/javascript" src="__index__/js/jquery.nyroModal.js"></script>
<script type="text/javascript" src="__index__/js/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="__index__/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="__index__/js/dsc-common.js"></script>
<script type="text/javascript" src="__index__/js/jquery.purebox.js"></script>
<script type="text/javascript">
function init() {
    var clip = null;
    var val = $("#affTextarea").text();
    if(val){
clip = new ZeroClipboard.Client();
ZeroClipboard.setMoviePath("js/ZeroClipboard/ZeroClipboard.swf");
clip.setHandCursor(true);   
clip.addEventListener('mouseOver', function (client) {
    clip.setText(val);
});

clip.addEventListener('complete', function (client, text){
    pbDialog("复制成功","",1,"","",120);
});
clip.glue('clip_button', 'clip_container' );
    }
}

$(window).load(function(){
    init();
})

$(function(){
    $(".nyroModal").nyroModal();
});


</script>
    

 
 
 
</body>
</html>