<!-- 登录和注册页面 -->
<div class="footer user-footer">
	<div class="dsc-copyright">
		<div class="w w1200">
			<p class="footer-ecscinfo pb10">

				<a href="{:url('index/Index/index')}">首页</a>

				
            	{volist name="bottoms" id="bottomNav"}

				 		<span style="padding: 0 10px;">|</span>
						<a {if condition="$bottomNav.ar_linkurl neq ''"} href="{$bottomNav.ar_linkurl}" target="_blank" {else /} href="{:url('index/article/index',array('ar_id'=>$bottomNav['ar_id']))}" {/if} >{$bottomNav.ar_title}</a>


				{/volist}




			</p>

 			<p>
			</p>


		</div>
	</div>
    <div class="hidden">
        <input type="hidden" name="seller_kf_IM" value="" rev="" ru_id="" />
        <input type="hidden" name="seller_kf_qq" value="349488953" />
        <input type="hidden" name="seller_kf_tel" value="4000-000-000" />
        <input type="hidden" name="user_id" value="0" />
    </div>
</div>



<script type="text/javascript">
$(function () {

	var dataType = $('body').data('type');
	var loginType = 'login1', 
		regType = 'reg1';

	if ( dataType === loginType || dataType === regType ){
		// 购物车
		$('.tit').remove();
		$('.button-icon').remove();
	}

});

</script>