<div class="loginRegister-header">
    <div class="w w1200">
        <div class="logo">
            <div class="logoImg"><a href="#" class="logo"><img src="__index__/img/user_login_logo.png"></a></div>
            <div class="logoAdv"><!-- <a href="#"><img src="__index__/img/ecsc-join.gif"></a> --></div>

		    <!-- 购物车 -->
           	<div class="tit">购物车（<em ectype="cartNum">2</em>）</div>


	        <!-- 登录 -->
		    <div class="logo-span">
				<b style="background:url(__index__/img/login_logo_pic.png) no-repeat;"></b>
			</div>
        </div>

		<div class="header-href">
		    <span>还没有账号<a href="#" class="jump">免费注册</a></span>
		</div>
    </div>
</div>
