<!DOCTYPE html>
<html>
{include file='/common/_meta'}
<body>
    <!-- 头部 -->
{include file='/common/top'}
    <!-- /头部 -->
    
    <div class="main-container container-fluid">
        <div class="page-container">
                        <!-- Page Sidebar -->
        {include file='/common/left'}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:url('Index/index')}">系统</a>
                        </li>
                                            <li>
                            <a href="{:url('config/lst')}">配置管理</a>
                        </li>
                        <li class="active">修改配置</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">修改配置</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="config_id" value="{$config.config_id}">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">英文名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="username" placeholder="" name="config_ename" type="text" value="{$config.config_ename}">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>


                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">中文名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="username" placeholder="" name="config_cname" type="text" value="{$config.config_cname}">
                            </div>
                            <p class="help-block col-sm-4 red"></p>
                        </div>


                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">表单类型</label>
                            <div class="col-sm-6">
                                <div class="radio" style="float:left; padding-right: 10px;">
                                    <label>
                                        <input class="inverted colored-blue" value="input" name="config_formtype" type="radio"  {if condition="$config['config_formtype'] eq 'input'"} checked="checked" {/if}>
                                        <span class="text">input</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; padding-right: 10px;">
                                    <label>
                                        <input class="inverted colored-blue" value="radio" name="config_formtype" type="radio" {if condition="$config['config_formtype'] eq 'radio'"} checked="checked" {/if}>
                                        <span class="text">radio</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; padding-right: 10px;">
                                    <label>
                                        <input class="inverted colored-blue" value="checked" name="config_formtype" type="radio" {if condition="$config['config_formtype'] eq 'checked'"} checked="checked" {/if}>
                                        <span class="text">checkbox</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; padding-right: 10px;">
                                    <label>
                                        <input class="inverted colored-blue" value="textarea" name="config_formtype" type="radio" {if condition="$config['config_formtype'] eq 'textarea'"} checked="checked" {/if}>
                                        <span class="text">textarea</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; padding-right: 10px;">
                                    <label>
                                        <input class="inverted colored-blue" value="select" name="config_formtype" type="radio" {if condition="$config['config_formtype'] eq 'select'"} checked="checked" {/if}>
                                        <span class="text">select</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; padding-right: 10px;">
                                    <label>
                                        <input class="inverted colored-blue" value="file" name="config_formtype" type="radio" {if condition="$config['config_formtype'] eq 'file'"} checked="checked" {/if}>
                                        <span class="text">file</span>
                                    </label>
                                </div>
                            </div>
                            <p class="help-block col-sm-4 red"></p>
                        </div>




                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">配置类型</label>
                            <div class="col-sm-6">
                                <div class="radio" style="float:left; padding-right: 10px;">
                                    <label>
                                        <input class="inverted colored-blue" value="1" name="config_type" type="radio" {if condition="$config['config_type'] eq 1"} checked="checked" {/if}>
                                        <span class="text">店铺配置</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left">
                                    <label>
                                        <input class="inverted colored-blue" value="0" name="config_type" type="radio" {if condition="$config['config_type'] eq 0"} checked="checked" {/if}>
                                        <span class="text">商品配置</span>
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">配置可选值</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="username" placeholder="" name="config_values" type="text" value="{$config.config_values}">
                            </div>
                            <p class="help-block col-sm-4 red"></p>
                        </div>


                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">默认值</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="username" placeholder="" name="config_default" type="text" value="{$config.config_default}">
                            </div>
                            <p class="help-block col-sm-4 red"></p>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>  
    </div>

        <!--Basic Scripts-->
    {include file='/common/footer'}
    

</body></html>