<!-- 首页以及其他页面 -->
<div class="footer-new">
    <div class="footer-new-top">
    	<div class="w w1200">
            <div class="service-list">
			<div class="service-item">
			    <i class="f-icon f-icon-qi"></i>
			    <span>七天包退</span>
			</div>
			<div class="service-item">
			    <i class="f-icon f-icon-zheng"></i>
			    <span>正品保障</span>
			</div>
			<div class="service-item">
			    <i class="f-icon f-icon-hao"></i>
			    <span>好评如潮</span>
			</div>
			<div class="service-item">
			    <i class="f-icon f-icon-shan"></i>
			    <span>闪电发货</span>
			</div>
			<div class="service-item">
			    <i class="f-icon f-icon-quan"></i>
			    <span>权威荣誉</span>
			</div>
        </div>
        <div class="contact">
			<div class="contact-item contact-item-first"><i class="f-icon f-icon-tel"></i><span>4000-000-000</span></div>
				<div class="contact-item">
				    <a id="IM" im_type="dsc" onclick="openWin(this)" href="javascript:;" class="btn-ctn"><i class="f-icon f-icon-kefu"></i><span>咨询客服</span></a>
			    </div>
            </div>
        </div>
    </div>
    <div class="footer-new-con">
    	<div class="fnc-warp">
            <div class="help-list">
				{volist name="bases" id="footers"}

					<div class="help-item">
					    <h3>{$footers.cate_name} </h3>
					    <ul>
					    	{volist name='$footers["arts"]' id="artis"}
					            <li><a href="{if condition="$artis['ar_linkurl']"} {$artis['ar_linkurl']}" target="_balck"> {else} {:url('index/article/index',array('ar_id'=>$artis['ar_id']))}"> {/if} {$artis.ar_title}</a></li>
					    	{/volist}
					    </ul>

					</div>


				{/volist}
		  
            </div>
            <div class="qr-code">
				<div class="qr-item qr-item-first">
				    <div class="code_img"><img src="__index__/img/ecjia_qrcode.png"></div>
				    <div class="code_txt">官方网址</div>
				</div>
				<div class="qr-item">
				    <div class="code_img"><img src="__index__/img/ectouch_qrcode.png"></div>
				    <div class="code_txt">在线课程</div>
				</div>
            </div>
    	</div>
    </div>
    <div class="footer-new-bot">
    	<div class="w w1200">
             
			<p class="copyright_links">

				<a href="{:url('index/Index/index')}">首页</a>

				
            	{volist name="bottoms" id="bottomNav"}

				 		<span style="padding: 0 10px;">|</span>
						<a {if condition="$bottomNav.ar_linkurl neq ''"} href="{$bottomNav.ar_linkurl}" target="_blank" {else /} href="{:url('index/article/index',array('ar_id'=>$bottomNav['ar_id']))}" {/if} >{$bottomNav.ar_title}</a>


				{/volist}




			</p>

 			<p>
			 <?php 
				$footerCopyright = explode(',',$configArr['footer_copyright']);
				foreach ($footerCopyright as $k => $v ):
			 ?>
				<?php if ($k <=1 ) { echo '<span>'.$v.'</span>'; } else { echo '<a href="#">'.$v.'</a>'; }?>
			<?php endforeach?>
			</p>





	        <p class="copyright_auth">&nbsp;</p>
	    </div>
    </div>
    
    
    <div class="hide" id="pd_coupons">
        <span class="success-icon m-icon"></span>
        <div class="item-fore">
            <h3>领取成功！感谢您的参与，祝您购物愉快~</h3>
            <div class="txt ftx-03">本活动为概率性事件，不能保证所有客户成功领取优惠券</div>
        </div>
    </div>
    
    
    <div class="hidden">
        <input name="seller_kf_IM" value="" rev="" ru_id="" type="hidden">
        <input name="seller_kf_qq" value="349488953" type="hidden">
        <input name="seller_kf_tel" value="4000-000-000" type="hidden">
        <input name="user_id" value="62" type="hidden">
    </div>
</div>


<!-- 登录和注册页面 -->
<div class="footer user-footer">
	<div class="dsc-copyright">
		<div class="w w1200">
			<p class="footer-ecscinfo pb10">

				<a href="{:url('index/Index/index')}">首页</a>

				
            	{volist name="bottoms" id="bottomNav"}

				 		<span style="padding: 0 10px;">|</span>
						<a {if condition="$bottomNav.ar_linkurl neq ''"} href="{$bottomNav.ar_linkurl}" target="_blank" {else /} href="{:url('index/article/index',array('ar_id'=>$bottomNav['ar_id']))}" {/if} >{$bottomNav.ar_title}</a>


				{/volist}




			</p>

 			<p>
			 <?php 
				$footerCopyright = explode(',',$configArr['footer_copyright']);
				foreach ($footerCopyright as $k => $v ):
			 ?>
				<?php if ($k <=1 ) { echo '<span>'.$v.'</span>'; } else { echo '<a href="#">'.$v.'</a>'; }?>
			<?php endforeach?>
			</p>


		</div>
	</div>
    <div class="hidden">
        <input type="hidden" name="seller_kf_IM" value="" rev="" ru_id="" />
        <input type="hidden" name="seller_kf_qq" value="349488953" />
        <input type="hidden" name="seller_kf_tel" value="4000-000-000" />
        <input type="hidden" name="user_id" value="0" />
    </div>
</div>



<script type="text/javascript">
$(function () {
	var navshow = $('.navshow').length;
	if ( navshow > 1){ 
		$('.navshow').eq(1).css('display','none');
		$('.nav-main').eq(1).remove();
		$('.dsc-zoom').eq(1).removeClass('dsc-zoom');
		$('.topShows').eq(0).remove();
	} else {
		$('.topShows').eq(0).remove();
	}

	var dataType = $('body').data('type');
	var indexType = 'index1', 
		index2Type = 'index2', 
		loginType = 'login1', 
		regType = 'reg1', 
		cartListType = 'cart_list1', 
		goodsListType = 'goodsList1';

	if ( dataType === loginType || dataType === regType ){
		// 登录头部改样式
		$('.header').removeClass('header').addClass('loginRegister-header');
		$('.logoImg a').addClass('logo');
		$('.logoImg a img').attr('src','__index__/img/user_login_logo.png');
		// 全局
		$('.dsc-search').remove();
		$('.shopCart').remove();
		$('.footer-new').remove();
		// 购物车
		// $('.tit').remove();
		$('.button-icon').remove();
		// 注册
		if ( dataType === regType ){
			$('.header-href span').html('已注册可<a href="#" class="jump">在此登录</a>')
		}
	}else if ( dataType === cartListType ) {
		// 全局
		$('.header').addClass('header-cart');
		$('.logoAdv').remove();
		$('.button-goods').remove();
		$('.keyword').remove();
		$('.shopCart').remove();
		// 登录
		$('.logo-span').remove();
		$('.header-href').remove();
		$('.user-footer').remove();
	} else {
		// 购物车
		// $('.tit').remove();
		$('.button-icon').remove();
		// 登录
		$('.logo-span').remove();
		$('.header-href').remove();
		$('.user-footer').remove();
		if ( dataType === indexType ){
			// 首页颜色
			$('body').addClass('catetop-cloth');
			$('.site-mast').remove();
		} else if ( dataType === index2Type ){
			// 首页颜色
			$('.site-masts').remove();
		} else {
			$('.site-masts').remove();
			if ( dataType === goodsListType ) {
				// 唯一宽度
				$('.site-nav').children().removeClass('w1200').addClass('w1390');
				$('.header').children().removeClass('w1200').addClass('w1390');
				$('.dsc-zoom').children('.w').removeClass('w1200').addClass('w1390');
			}
		}
	}
	LoginArti();
	$('.viptitle>.tit').on('mouseover','a',function(){
		var aa = $('.viptitle>.tit>a').index(this);
		$('.viptitle>.con>ul').eq(aa).css('display','block');
		$('.viptitle>.con>ul').eq(aa).siblings().css('display','none');
	});


	
});

function LoginArti() {
	$.ajax({
		url: "{:url('Article/IndexShowLogin')}",
		data: {
			'cateid': [23,24],	//
			'limit': 3,
		},
		dataType: 'json',
		type: 'POST',
		success: function (datas) {
			$('.viptitle').children('.tit').empty();
			$('.viptitle').children('.con').empty();
			var list = datas;
			for ( i=0; i<list.length; i++ ) {
				// 登录上的那个父级栏目
				var div = '';
				div += '<a href="javascript:void(0);" class="tab_head_item">' + list[i].name.cate_name + '</a>';
				$('.viptitle').children('.tit').append(div);
				// 登录上的那个子所属栏目的标题
				var listChild = list[i].child, uls = '';
				if ( i==0 ){
					uls += '<ul>';
				} else {
					uls += '<ul style="display:none;">';
				};
				for ( j=0; j<listChild.length; j++ ) {
					uls += '<li><a href="/article/' + listChild[j].ar_id + '.html" target="_blank">' + listChild[j].ar_title + '</a></li>';
				};
				uls += '</ul>'; 
				$('.viptitle').children('.con').append(uls);
			}
		},
		error: function() {
			alert('由于网络问题，加载失败');
		}
	});
}

</script>