<div class="nav dsc-zoom" ectype="dscNav">
	<div class="w w1200">
		<div class="categorys site-masts">
			<div class="categorys-type"><a href="#">男装、女装、内衣</a></div>
			<div class="categorys-tab-content">
				<div class="categorys-items" ectype="items">
					<div class="categorys-item" ectype="item" data-catid="347" data-eveval="0">
						<div class="item-content">
							<i class="iconfont icon-right"></i>
							<div class="categorys-title">
								<strong><a href="#">女装</a></strong>
								<span>
						            <a href="#">连衣裙</a>
									<a href="#">蕾丝/雪纺衫</a>
									<a href="#">衬衫</a>
									<a href="#">T恤</a>
									<a href="#">半身裙</a>
									<a href="#">休闲裤</a>
								</span>
							</div>
						</div>
						<div class="categorys-items-layer" ectype="cateLayer" style="display: none;">
							<div class="catetop-layer-con clearfix">
								<h3><a href="#">女装</a></h3>
								<ul class="cate-list">
									<li><a href="#">连衣裙</a></li>
									<li><a href="#">蕾丝/雪纺衫</a></li>
									<li><a href="#">衬衫</a></li>
									<li><a href="#">T恤</a></li>
									<li><a href="#">半身裙</a></li>
									<li><a href="#">休闲裤</a></li>
									<li><a href="#">短裤</a></li>
									<li><a href="#">牛仔裤</a></li>
									<li><a href="#">针织衫</a></li>
									<li><a href="#">吊带/背心</a></li>
									<li><a href="#">打底衫</a></li>
									<li><a href="#">打底裤</a></li>
									<li><a href="#">正装裤</a></li>
									<li><a href="#">小西服</a></li>
									<li><a href="#">马甲</a></li>
									<li><a href="#">风衣</a></li>
									<li><a href="#">羊毛衫</a></li>
									<li><a href="#">羊绒衫</a></li>
									<li><a href="#">短外套</a></li>
									<li><a href="#">棉服</a></li>
									<li><a href="#">毛呢大衣</a></li>
									<li><a href="#">加绒裤</a></li>
									<li><a href="#">羽绒服</a></li>
									<li><a href="#">皮草</a></li>
									<li><a href="#">真皮皮衣</a></li>
									<li><a href="#">仿皮皮衣</a></li>
									<li><a href="#">旗袍/唐装</a></li>
									<li><a href="#">礼服</a></li>
									<li><a href="#">婚纱</a></li>
									<li><a href="#">中老年女装</a></li>
									<li><a href="#">大码女装</a></li>
								</ul>
								<ul class="cate-logo">    
									<li><a href="#"><img src="__index__/img/1490071974970349584.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072756032175204.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073577683159021.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073591535005714.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072860522023692.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490074030328949587.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490228075580091113.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490074901892372216.jpg" width="112" height="49"></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="categorys-item" ectype="item" data-catid="463" data-eveval="0">
						<div class="item-content">
							<i class="iconfont icon-right"></i>
							<div class="categorys-title">
								<strong><a href="#">男装</a></strong>
								<span>
						            <a href="#">T恤</a>
									<a href="#">裤子</a>
									<a href="#">POLO衫</a>
									<a href="#">针织衫</a>
									<a href="#">夹克</a>
									<a href="#">卫衣</a>
								</span>
							</div>
						</div>
						<div class="categorys-items-layer" ectype="cateLayer" style="display: none;">
							<div class="catetop-layer-con clearfix">
								<h3><a href="#">男装</a></h3>
								<ul class="cate-list">
									<li><a href="#">T恤</a></li>
									<li><a href="#">裤子</a></li>
									<li><a href="#">POLO衫</a></li>
									<li><a href="#">针织衫</a></li>
									<li><a href="#">夹克</a></li>
									<li><a href="#">卫衣</a></li>
									<li><a href="#">风衣</a></li>
									<li><a href="#">马甲/背心</a></li>
									<li><a href="#">短裤</a></li>
									<li><a href="#">休闲裤</a></li>
									<li><a href="#">牛仔裤</a></li>
									<li><a href="#">西服</a></li>
									<li><a href="#">西裤</a></li>
									<li><a href="#">西服套装</a></li>
									<li><a href="#">真皮皮衣</a></li>
									<li><a href="#">仿皮皮衣</a></li>
									<li><a href="#">羽绒服</a></li>
									<li><a href="#">毛呢大衣</a></li>
									<li><a href="#">棉服</a></li>
									<li><a href="#">羊绒衫</a></li>
									<li><a href="#">羊毛衫</a></li>
									<li><a href="#">卫裤/运动裤</a></li>
								</ul>
								<ul class="cate-logo">    
									<li><a href="#"><img src="__index__/img/1490073529881448780.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072981305868823.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072373278367315.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072879222701895.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073539440462760.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072765604121481.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073675778205608.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073240845049320.jpg" width="112" height="49"></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="categorys-item" ectype="item" data-catid="630" data-eveval="0">
						<div class="item-content">
							<i class="iconfont icon-right"></i>
							<div class="categorys-title">
								<strong><a href="#">服饰配件</a></strong>
								<span>
						            <a href="#">配饰</a>
									<a href="#">光学镜架/镜片</a>
									<a href="#">防辐射眼镜</a>
									<a href="#">女士丝巾/围巾/披肩</a>
									<a href="#">棒球帽</a>
									<a href="#">遮阳伞/雨伞</a>
								</span>
							</div>
						</div>
						<div class="categorys-items-layer" ectype="cateLayer" style="display: none;">
							<div class="catetop-layer-con clearfix">
								<h3><a href="#">服饰配件</a></h3>
								<ul class="cate-list">
									<li><a href="#">配饰</a></li>
									<li><a href="#">光学镜架/镜片</a></li>
									<li><a href="#">防辐射眼镜</a></li>
									<li><a href="#">女士丝巾/围巾/披肩</a></li>
									<li><a href="#">棒球帽</a></li>
									<li><a href="#">遮阳伞/雨伞</a></li>
									<li><a href="#">遮阳帽</a></li>
									<li><a href="#">领带/领结/领带夹</a></li>
									<li><a href="#">男士腰带/礼盒</a></li>
									<li><a href="#">防晒手套</a></li>
									<li><a href="#">老花镜</a></li>
									<li><a href="#">袖扣</a></li>
									<li><a href="#">鸭舌帽</a></li>
									<li><a href="#">装饰眼镜</a></li>
									<li><a href="#">女士腰带/礼盒</a></li>
								</ul>
								<ul class="cate-logo">
								    <li><a href="#"><img src="__index__/img/1490228100138579787.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072804442637685.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490171981556005380.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073561018734078.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072823106532144.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072677495061584.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490074901892372216.jpg" width="112" height="49"></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="categorys-item" ectype="item" data-catid="547" data-eveval="0">
						<div class="item-content">
							<i class="iconfont icon-right"></i>
							<div class="categorys-title">
								<strong><a href="#">内衣</a></strong>
								<span>
						            <a href="#">内衣配件</a>
									<a href="#">文胸</a>
									<a href="#">睡衣/家居服</a>
									<a href="#">情侣睡衣</a>
									<a href="#">文胸套装</a>
									<a href="#">少女文胸</a>
								</span>
							</div>
						</div>
						<div class="categorys-items-layer" ectype="cateLayer" style="display: none;">
							<div class="catetop-layer-con clearfix">
								<h3><a href="#">内衣</a></h3>
								<ul class="cate-list">
									<li><a href="#">内衣配件</a></li>
									<li><a href="#">文胸</a></li>
									<li><a href="#">睡衣/家居服</a></li>
									<li><a href="#">情侣睡衣</a></li>
									<li><a href="#">文胸套装</a></li>
									<li><a href="#">少女文胸</a></li>
									<li><a href="#">女式内裤</a></li>
									<li><a href="#">男式内裤</a></li>
									<li><a href="#">商务男袜</a></li>
									<li><a href="#">休闲棉袜</a></li>
									<li><a href="#">吊带/背心</a></li>
									<li><a href="#">打底衫</a></li>
									<li><a href="#">抹胸</a></li>
									<li><a href="#">连裤袜/丝袜</a></li>
									<li><a href="#">美腿袜</a></li>
									<li><a href="#">打底裤袜</a></li>
									<li><a href="#">塑身美体</a></li>
									<li><a href="#">大码内衣</a></li>
								</ul>
								<ul class="cate-logo">
								    <li><a href="#"><img src="__index__/img/1490072950580851309.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490227784119952387.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073518703639070.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073982547710498.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490074308773778697.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072313895957648.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073454678614186.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490227986732712711.jpg" width="112" height="49"></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="categorys-item" ectype="item" data-catid="1442" data-eveval="0">
						<div class="item-content">
							<i class="iconfont icon-right"></i>
							<div class="categorys-title">
								<strong><a href="#">运动户外</a></strong>
								<span>
						            <a href="#">跑步运动</a>
									<a href="#">室内健身</a>
									<a href="#">自行车运动</a>
									<a href="#">轮滑运动</a>
									<a href="#">羽毛球/网球/乒乓球</a>
									<a href="#">足球/篮球/排球</a>
								</span>
							</div>
						</div>
						<div class="categorys-items-layer" ectype="cateLayer" style="display: none;">
							<div class="catetop-layer-con clearfix">
								<h3><a href="#">运动户外</a></h3>
								<ul class="cate-list">
									<li><a href="#">跑步运动</a></li>
									<li><a href="#">室内健身</a></li>
									<li><a href="#">自行车运动</a></li>
									<li><a href="#">轮滑运动</a></li>
									<li><a href="#">羽毛球/网球/乒乓球</a></li>
									<li><a href="#">足球/篮球/排球</a></li>
									<li><a href="#">运动休闲</a></li>
									<li><a href="#">钓鱼用品</a></li>
									<li><a href="#">野营烧烤</a></li>
									<li><a href="#">游泳运动</a></li>
									<li><a href="#">舞蹈运动</a></li>
									<li><a href="#">瑜伽运动</a></li>
									<li><a href="#">防狼防身</a></li>
									<li><a href="#">水上运动</a></li>
								</ul>
								<ul class="cate-logo">
								    <li><a href="#"><img src="__index__/img/1490072850306019115.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072931218635674.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072898345358625.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073009638652059.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490073324022460149.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072918339853569.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072889090025069.jpg" width="112" height="49"></a></li>
								    <li><a href="#"><img src="__index__/img/1490072993409028193.jpg" width="112" height="49"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


        <div class="categorys <?php if( !isset($show_nav)){ echo 'site-mast';} ?>">
            <div class="categorys-type">
            	<a href="categoryall.php" target="_blank">全部商品分类</a>
            </div>
		    <div class="categorys-tab-content" >
		    	<div class="categorys-items" id="cata-nav">
		    		{volist name="CommCates" id="CommCates"}
		            <div class="categorys-item" ectype="cateItem" data-id="{$CommCates.cates_id}" data-eveval="0">
				        <div class="item item-content">
						    <i class="iconfont icon-ele"></i>
						    <div class="categorys-title">
				                <strong>
						            <a href="" target="_blank">{$CommCates.cates_name}</a>
					            </strong>
				            	{if condition="$CommCates.children"}
					            <span>
					            	{volist name="CommCates.children" id="CatesChildren"}
					            	{if condition="$i lt 3"}
									<a href="" target="_blank">{$CatesChildren.cates_name}</a>
									{/if}
									{/volist}
				                </span>
								{/if}
					        </div>
				        </div>
				        <div class="categorys-items-layer" ectype="cateLayer">
				            <div class="cate-layer-con clearfix">
				                <div class="cate-layer-left">
									<div class="cate_channel" ectype="channels_{$CommCates.cates_id}"></div>
									<div class="cate_detail" ectype="subitems_{$CommCates.cates_id}"></div>
				                </div>
				                <div class="cate-layer-rihgt" ectype="brands_{$CommCates.cates_id}"></div>
				            </div>
				        </div>
				        <div class="clear"></div>
				    </div>
				    {/volist}

				    <script>
				    	// ajax异步获取顶级分类下的子分类、品牌、频道等相关信息在右侧菜单显示
				    	var ajaxCommCatesUrl = "{:url('cates/getCommsCates')}";
				    	// 加载中图片路径
				    	var imgLoad = '__index__/img/loadGoods.gif';
				    </script>
				</div>
			</div>
		</div>
		


        <div class="nav-main" id="nav">
            <ul class="navitems">
	            <li><a href="{:url('index/Index/index')}" class="curr">首页</a></li>
	            {volist name="navArr.mid" id="midNav"}
	            <li><a href="{$midNav.nav_url}" {if condition="$midNav.nav_open eq 1"} target="_blank" {/if}>{$midNav.nav_name}</a></li>
	            {/volist}
        	</ul>
        </div>




	</div>
</div>

