<div class="article-side">
    <dl class="article-menu">
        <dt class="am-t"><a href="#">文章分类列表</a></dt>
        <dd class="am-c">
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="">系统分类</a>
                    <i class="iconfont icon-down"></i>
                </div>
                <ul class="item-bd">
                </ul>
                <ul class="item-bd">
                    <li><a href="#">新手上路 </a></li>
                    <li><a href="#">配送与支付 </a></li>
                    <li><a href="#">服务保证 </a></li>
                    <li><a href="#">联系我们 </a></li>
                    <li><a href="#">会员中心</a></li>
                </ul>
            </div>
        </dd>
        <dd class="am-c">
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">3G资讯</a>
                    <i class="iconfont icon-down"></i>
                </div>
                <ul class="item-bd">
                </ul>
            </div>
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">站内快讯</a>
                    <i class="iconfont icon-down"></i>
                </div>
                <ul class="item-bd">
                </ul>
            </div>
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">商城公告</a>
                    <i class="iconfont icon-down"></i>
                </div>
                <ul class="item-bd">
                </ul>
            </div>
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">商家入驻流程说明</a>
                    <i class="iconfont icon-down"></i>
                </div>
                <ul class="item-bd">
                </ul>
            </div>
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">商家入驻商家说明</a>
                    <i class="iconfont icon-down"></i>
                </div>
                <ul class="item-bd">
                </ul>
            </div>
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">App</a>
                    <i class="iconfont icon-down"></i>
                </div>
                <ul class="item-bd">
                    <li><a href="#">ios</a></li>
                </ul>
            </div>
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">发票问题</a><i class="iconfont icon-down">
                    </i>
                </div>
                <ul class="item-bd">
                </ul>
            </div>
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">公告</a><i class="iconfont icon-down">
                    </i>
                </div>
                <ul class="item-bd">
                </ul>
            </div>
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">促销</a><i class="iconfont icon-down">
                    </i>
                </div>
                <ul class="item-bd">
                </ul>
            </div>
            <div class="menu-item active">
                <div class="item-hd">
                    <a href="#">微分销</a><i class="iconfont icon-down">
                    </i>
                </div>
                <ul class="item-bd">
                </ul>
            </div>
        </dd>
    </dl>
</div>